* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
}

.main {
    width: 100%;
}

.civil {
    display: flex;
    
}

.infor {
    width: 35%;
    border-top-left-radius: 12px;
    margin-left: 24px;
    margin-top: 16px;
    box-shadow: 0px 5px 5px 3px #999999;
}

.ava img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 12px;
    display: block;
}

.name p {
    position: absolute;
    top: 270px;
    left: 38px;
    font-size: 30px;
    font-weight: 500;
}

.contact {
    position: relative;
    margin-left: 12px;
    margin-top: 15px;
}

.contact::after{
    content: "";
    position: absolute;
    left: 32px;
    margin-top: 20px;
    width: 80%;
    height: 1px;
    background-color: #ccc;
}

.icon {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(106, 181, 184);
    font-size: 15px;
}

.icon p {
    margin-left: 12px;
    font-size: 18px;
}

.skill {
    margin-top: 30px;
    width: 90%;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}



.topic {
    display: flex;
    margin-left: 10px;
    margin-top: 8px;
}

.topic i {
    color: rgb(106, 181, 184);
    font-size: 18px;
}

.topic h3 {
    margin-left: 12px;
}

.skill h4 {
    padding: 10px;
}

.mainLine{
    width: 100%;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.line {
    width: 100%;
    background-color: rgb(106, 181, 184);
    border-radius: 12px;
}

.line p {
    color: white;
    text-align: center;
}

.width-90{
    width: 90% !important;
}

.width-80{
    width: 80% !important;
}

.width-75{
    width: 75% !important;
}

.width-50{
    width: 50% !important;
}

.fontSize-16{
    font-size: 16px;
}

.topic1 {
    display: flex;
    margin-left: 10px;
    margin-top: 12px;
}

.topic1 i {
    color: rgb(106, 181, 184);
    font-size: 18px;
}

.topic1 h3 {
    margin-left: 12px;
}

.language h4 {
    margin-top: 10px;
    padding: 10px;
}

.language {
    margin-top: 30px;
    width: 90%;
    margin-left: 14px;
}

.lineLanguage {
    width: 100%;
    height: 12px;
    background-color: rgb(106, 181, 184);
    border-radius: 12px;
}



.info2 {
    width: 55%;
    margin-left: 24px;
}

.workex {
    width: 100%;
    margin-top: 16px;
    box-shadow: 0px 5px 5px 3px #999999;

}

.topic2 {
    display: flex;
}

.topic2 i {
    font-size: 30px;
    color: rgb(106, 181, 184);
    margin-top: 20px;
    margin-left: 20px;
}

.topic2 h2 {
    font-size: 30px;
    margin-left: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.edu {
    width: 100%;
    margin-top: 16px;
    box-shadow: 0px 5px 5px 3px #999999;
}

.icon2 {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    color: rgb(106, 181, 184);
}

.icon2 h4 {
    display: inline-block;
    color: white;
    background-color: rgb(106, 181, 184);
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    padding-left: 8px;
    padding-right: 8px;
}

.icon2 p {
    margin-left: 16px;
}

.topic3 {
    margin-left: 20px;
    margin-top: 40px;

}

.essay{
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
}

footer{
    background-color: #009688;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 100%;
}

footer p{
    margin-top: 24px;
    margin-bottom: 24px;
    color: #fff;
}

footer p a{
    color: #fff;
    margin-left: 4px;
}

.list-icon{
    display: flex;
}

.icon-item{
    margin-left: 4px;
}

.icon-item i{
    color: #fff;
    font-size: 20px;
}


.icon-item i:hover{
    opacity: 0.6;
    cursor: pointer;
}

